*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #222;
    background-image: linear-gradient(-10deg, #a5c0e8 35%, #9cbae6 35%);
}



/** App Screen **/

.screen {
    display: flex;
    flex-direction: column;
    width: 365px;
    height: 650px;
    background-color: #fff;
    overflow: hidden;
    --primary-color: #faaaa1;
}



/** Blocks **/

.recipe-overview {
    flex-shrink: 0;
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
    background-color: var(--primary-color);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0 100%);
    transition: background-color 200ms ease;
}


.recipe-details-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    padding-top: 20px;
    margin-top: -80px;
    position: relative;
}


.recipe-details {
    width: 200%;
    padding: 70px 45px 30px 80px;
    position: relative;
    overflow: auto;
}

.recipe-details::-webkit-scrollbar {
    width: 3px;
}

.recipe-details::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}



/** Carousel **/

.carousel {
    display: flex;
    padding: 20px calc((100% - 200px) / 2);
    overflow: hidden;
}


.carousel__image {
    width: 200px;
    height: 270px;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 200ms ease;
}

.carousel__image:not(.carousel__image--current) {
    opacity: 0.5;
    transform: scale(0.8);
}


.carousel__image--current {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}



/** Recipe **/

.recipe {
    padding: 0 60px 0 30px;
}


.recipe__title {
    font-family: "Alegreya", serif;
    font-size: 2.6em;
    margin: 0;
}


.recipe__info {
    display: inline-block;
    margin: 0.75em 0;
    font-weight: bold;
    line-height: 16px;
}

.recipe__info:not(:last-of-type) {
    margin-right: 5px;
}


.recipe__description {
    margin: 0;
}


.recipe__icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 70px;
    left: 25px;
    fill: var(--primary-color);
    transition: fill 200ms ease;
}



/** Ingredients **/

.ingredients-title {
    margin: 0;
    font-size: inherit;
}


.ingredients {
    padding: 0;
    margin: 0;
    list-style: none;
}


.ingredient {
    padding: 1em 0;
}

.ingredient:not(:last-child) {
    border-bottom: 2px dotted #ddd;
}



/** Like Button **/

.like-btn {
    width: 50px;
    height: 50px;
    border: 0;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 2;
    font-size: 0;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 5px var(--primary-color);
    transition: box-shadow 200ms ease, transform 200ms ease;
    cursor: pointer;
    outline: none;
}

.like-btn:active {
    transform: scale(0.9);
}


.like-btn path {
    fill: var(--primary-color);
    transition: fill 200ms ease;
}
